<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    profile 
    <%= user.name %>
    <%= user.email %>
    <!-- <ul>
        <%= user.skills.forEach((item)=>{ %>
            <li><%= item %></li>
      <% }) %>
    </ul> -->
</body>
</html>